@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Patrick+Hand&family=Plaster&display=swap');
/* font-family: 'Dongle', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Plaster', cursive; */




/* NAVBAR */
.nav-img {
  width: 60px;
  margin-right: 10px;
}

.navbar-brand {
  margin-top: 5px;
  font-family: 'Plaster', cursive;
}

/* FOOTER */
footer {
  background-color: #783153;
  color: whitesmoke;
}

/* LAYOUT */

.page-layout .container {
  padding-bottom: 60px;
  padding-top: 20px;
}