@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@400;600;700&display=swap&family=Plaster&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Plaster', cursive; */

h1 {
  font-family: 'Lilita One', cursive;
}

h2,
h3 {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
}

p {
  font-family: 'Quicksand', cursive;
  font-weight: 400;
}

/* NAVBAR */
.nav-img {
  width: 60px;
  margin-right: 10px;
}

.navbar-brand {
  margin-top: 5px;
  font-family: 'Plaster', cursive;
}

/* Profile */
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #A7C565;
  color: white;
}

.sidebar-text {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  color: black !important;
}

.outline-pink-box {
  background-color: transparent;
  border: 2px solid #783153;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.color-pink {
  color: #C45A8D;
}

.bg-dark-green {
  background-color: #3A4523;
  color: whitesmoke;
}

.bg-dark-pink {
  background-color: #783153;
  color: whitesmoke;
}

.bg-light-pink {
  background-color: #C45A8D;
  color: whitesmoke;
}

.small-text {
  font-size: 13px;
}


/* FOOTER */
footer {
  background-color: #783153;
  color: whitesmoke;
}

/* LAYOUT */

.page-layout .container {
  padding-bottom: 60px;
  padding-top: 20px;
}

/* Buttons */
.btn-main {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  background-color: #A7C565;
  border: 1.5px solid #A7C565;
}

.btn-main:hover {
  background-color: #3A4523;
  border: 1.5px solid #3A4523;
  color: whitesmoke;
}

.btn-main-reverse {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  color: whitesmoke;
  background-color: #3A4523;
  border: 1.5px solid #3A4523;
}

.btn-main-reverse:hover {
  background-color: #A7C565;
  border: 1.5px solid #A7C565;
  color: black;
}

.btn-second {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  background-color: #C45A8D;
  border: 1.5px solid #C45A8D;
  color: whitesmoke;
}

.btn-second:hover {
  background-color: #783153;
  border: 1.5px solid #783153;
  color: whitesmoke;
}

.btn-second-line {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  background-color: transparent;
  border: 1.5px solid #C45A8D;
  color: #C45A8D;
}

.btn-second-line:hover {
  color: whitesmoke;
  background-color: #783153;
  border: 1.5px solid #783153;
}

.btn-second-reverse {
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  background-color: #783153;
  border: 1.5px solid #783153;
  color: whitesmoke;
}

.btn-second-reverse:hover {
  background-color: #C45A8D;
  border: 1.5px solid #C45A8D;
  color: whitesmoke;
}